.aboutme{
    padding-top: 200px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-image: url('../../../../utils/img/ondas.png');
}

.grid-info{
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    gap: 10px;
}

.img-banner{
    width: 100%;
}

@media (max-width: 576px) { 
    .item-correo{
        line-height: 2;
        font-size: 0.8rem!important;
    }
    .mx-5{
        margin: 0px 0px!important;
    }
}